@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
  .between {
    @apply flex justify-between items-center;
  }
  .link {
    @apply transition-all ease-linear py-1 px-2 rounded-md hover:bg-hover-primary;
  }
  .label {
    @apply absolute top-[-5px] text-sm right-[-40px] text-white bg-green-500 rounded-full py-0 px-3 z-10;
  }
  .gray-title {
    @apply text-lg font-bold text-text-gray;
  }
  .horizontal-items {
    @apply flex justify-between max-w-xs py-5;
  }
}
