@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

td,th,tr{
  padding: 0.5rem;
}
tr:nth-child(even){
  background: rgba(0,0,0,0.08);
}

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
  .between {
    @apply flex justify-between items-center;
  }
  .link {
    @apply transition-all ease-linear py-1 px-2 rounded-md hover:bg-hover-primary;
  }
  .label {
    @apply absolute top-[-5px] text-sm right-[-40px] text-white bg-green-500 rounded-full py-0 px-3 z-10;
  }
  .gray-title {
    @apply text-lg font-bold text-text-gray;
  }
  .horizontal-items {
    @apply flex justify-between max-w-xs py-5 flex-col sm:flex-row md:flex-col lg:flex-row items-start;
  }
  .btn-primary {
    @apply m-auto block px-2 py-1 rounded-md bg-blue-600 hover:bg-blue-800 text-white;
  }
  .btn-danger {
    @apply m-auto block px-2 py-1 rounded-md bg-red-600 text-white hover:bg-red-800;
  }
  .btn-green {
    @apply m-auto block px-2 py-1 rounded-md bg-green-600 text-white hover:bg-green-800;
  }
}
